@import "lib/govuk-frontend/govuk/base";
@import "interrupt-card";


/* Interrupt */

.interrupt-panel{
    width:100%;
    padding:30px;
    background:#005ea5;
    color:#fff;
    box-sizing: border-box;
}

.interrupt-panel h1,
.interrupt-panel h2,
.interrupt-panel h3,
.interrupt-panel h4,
.interrupt-panel h5,
.interrupt-panel p,
.interrupt-panel a,
.interrupt-panel a:active,
.interrupt-panel a:link,
.interrupt-panel a:visited{
    color:#fff
}

.interrupt-panel a.govuk-button--white,
.interrupt-panel button.govuk-button--white {
    background: #fff;
    color: #000;
}